/* Este archivo SÓLO define las variables de color
  y los estilos más básicos (como el fondo del body).
*/

:root {
  /* Tema Claro (Default) */
  --bg-color: #f8f9fa9d;       
  --text-color: #212529;     
  --card-bg: #ffffff;         
  --border-color: #dee2e6;    
  --primary-color: #0d6efd;   
  --primary-text: #ffffff;    
  --link-color: #0d6efd;
  --link-hover: #0a58ca;
  
  /* Transición suave de colores */
  transition: background-color 0.3s, color 0.3s;
}

[data-theme="dark"] {
  /* Tema Oscuro */
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --card-bg: #1e1e1e;
  --border-color: #444444;
  --primary-color: #3a86ff;
  --primary-text: #ffffff;
  --link-color: #589bff;
  --link-hover: #7baefb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
